{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block head %}
    {{ super() }}
      <style type="text/css">
         body {
            padding: 10px;
            margin: 0;
            background-color: rgb(153, 203, 223);
            font-size: 20px;
          }
          .btn_container{
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
          }
      </style>
{% endblock %}

{% block content %}

    <div class="container" style="margin-top: 20px;">
      <div class="jumbotron">
        <div style="text-align: center;">
          <h1 class="display-4">Hello, welcome to <span style="color: blue;" >AVC </span>!</h1>
        </div>
        <p class="lead">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, minus consequuntur. Reprehenderit, temporibus! Tempora animi saepe eaque, explicabo voluptate consequuntur rerum, at labore unde a amet itaque! 
        </p>
        <hr class="my-4" />
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam incidunt quod porro odio ipsam a eos eligendi maiores ut reiciendis!
        </p>
        <div class="btn_container">
          <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
        </div>
      </div>
    </div>
    
{% endblock %}
