<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">NET PAY CALCULATOR</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home</a>
            <a class="nav-item nav-link" href="#">Basic Salary</a>
                <p><i>Basic salary</i> or base salary is the fixed amount an employee earns before any additions (bonuses, allowances, overtime, bonuses) or deductions (taxes, insurance).</p>
            <a class="nav-item nav-link" href="#">Gross Salary</a>
                <p><i>Gross salary</i> is the total pay an employee receives before any deductions are made.</p>
            <a class="nav-item nav-link" href="#">NHIF</a>
                <p><i>NHIF</i> means National Health Insurance Fund. </p>
            <a class="nav-item nav-link" href="#">NHDF</a>
                <p><i>NHDF</i> means National Housing Development Fund, which includes a 1.5% levy on employee's monthly basic salaries</p>
            <a class="nav-item nav-link" href="#">NSSF</a>
                <p><i>NSSF</i> means National Social Security Fund. <a href="https://en.wikipedia.org/wiki/National_Social_Security_Fund_(Kenya)"></a></p>
            <a class="nav-item nav-link" href="#">Final Paye</a>
            <p><a href="https://www.kra.go.ke/individual/filing-paying/types-of-taxes"></a></p>
            <a class="nav-item nav-link" href="#">Net pay</a>
                <p><i>Net Pay</i> is the earnings after all deductions are taken out</p>
          </div>
        </div>
      </nav>
    <div class="container">
        <form action="" id="myform" style="background-color: goldenrod; text-align: center; border: 2px solid black;">
            <h1>NET PAY CALCULATOR</h1>
            <h2>Want to know how your salary deductions work?</h2>
            <p>Easy steps;</p>
            <p>Enter your <span>Basic Salary</span> and <span>Total Benefits</span> below.</p>
            <p>Click the <span>Submit</span> button.</p>
            <label for="basic_salary">Basic Salary:</label><br>
            <input type="number" id="basic_salary"><br><br>
            <label for="total_benefits">Total Benefits:</label><br>
            <input type="number" id="total_benefits"><br><br>
            <div id="error" style="color: red; font-style: italic; font-weight: 600;" ></div>
            <button style="width: 20%; background-color: aquamarine; color: crimson; font-size: 20px; border-radius: 5px; font-weight: 800;">Submit</button><br><br>
        </form>
        <table id="table">
            <thead>
                <tr>
                    <th>Gross Salary</th>
                    <th>NHIF</th>
                    <th>NHDF</th>
                    <th>NSSF</th>
                    <th>Final Paye</th>
                    <th>Net pay</th>
                </tr>
            </thead>
            <tbody>
     
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
</body>
</html>