{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block head %}
    {{ super() }}
      <style type="text/css">
         body {
            padding: 10px;
            margin: 0;
            font-size: 20px;
          }
          .btn_container{
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
          }
      </style>
{% endblock %}

{% block content %}

    <div style="margin-top: 20px">
      <h1 style="text-align: center; margin-top: 20px">
        <p>Let's get you <span style="color: blue">register</span>ed to</p>
        <p style="color: blue">AVC!</p>
      </h1>
      <p style="text-align: center">
        Fill in your details in the following form;
      </p>
    </div>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li style="color: red; text-align: center; list-style-type: none">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <div class="container">
      <form id="Registering" action="/registering" method="post">
        <div class="form-group">
          <label for="">First Name:</label>
          <input
            type="text"
            class="form-control"
            id="first_name"
            aria-describedby="emailHelp"
            placeholder="Enter first name"
            name="fname"
            required
          />
        </div>
        <div class="form-group">
          <label for="">Last Name:</label><br />
          <input
            type="text"
            class="form-control"
            id="last_name"
            placeholder="Enter last name"
            name="lname"
            required
          />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address:</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            name="mail"
            required
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password:</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Enter Password"
            name="password"
            required
          />
        </div>
        <div class="btn_container">
          <button
            type="submit"
            class="btn btn-primary"
            style="margin-bottom: 20px"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
    <!-- <script>
      document.addEventListener("DOMContentLoaded", function () {
        const form = document.querySelector("form");
        const spinnerContainer = document.querySelector(".spinner-container");
        form.addEventListener("submit", function () {
          spinnerContainer.style.display = "block";
        });
      });
    </script> -->
{% endblock %}
