{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .btn_container{
          display: flex;
          justify-content: center;
          margin: 20px;
        }
    </style>
{% endblock %}

{% block content %}
    <div style="margin-top: 20px;">
      <h1 style="text-align: center"><span style="color: blue;" >Sales</span> Page</h1>
    </div>
    <table id="myTable" class="display table table-striped">
      <div class="btn_container">
        <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#exampleModal"
      >
        Make Sales
      </button>
      </div>

      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"><span style="color: blue;" >Make Sales</span></h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="sales_form" action="/make_sales" class="" method="POST">
                <select name="productid" id="">
                  <option value="">select product</option>
                  {% for i in products %}
                  <option value="{{i[0]}}">{{i[1]}}</option>
                  {% endfor %}</select
                ><br /><br />
                <input
                  name="quant"
                  type="number"
                  placeholder="Enter amount"
                  required
                />
                <br /><br />
                <div>
                  <h4>Mode of Payment</h4>
                </div>
                <div class="form-group form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="exampleCheck1"
                    name="check"
                    
                  />
                  <label class="form-check-label" for="exampleCheck1"
                    >Cash</label
                  >
                </div>
                <div class="form-group form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="exampleCheck1"
                    name="check"
                  />
                  <label class="form-check-label" for="exampleCheck1"
                    >Mpesa</label
                  >
                </div>
                <div class="form-group form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="exampleCheck1"
                    name="check"
                  />
                  <label class="form-check-label" for="exampleCheck1"
                    >Bank Transfer</label
                  >
                </div>
                <div class="btn_container">
                  <button type="submit" class="btn btn-primary">Make Sale</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <thead>
        <tr>
          <th>Serial No.</th>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Created at</th>
        </tr>
      </thead>
      <tbody>
        {% for sale in sale %}
        <tr>
          <td>{{sale[0]}}</td>
          <td>{{product_name.get(sale[1], 'unknown')}}</td>
          <td>{{sale[2]}}</td>
          <td>{{sale[3]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <script>
      let table = new DataTable("#myTable");
    </script>
    <script>
      document
        .getElementById("sales_form")
        .addEventListener("submit", function () {
          window.location.reload();
        });
    </script>
{% endblock %}
