{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .btn_container{
          display: flex;
          justify-content: center;
          margin: 20px;
        }
    </style>
{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li style="color: red; list-style-type: none">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <div style="margin-top: 20px">
      <h1 style="text-align: center">
        <span style="color: blue">Stocks</span> page
      </h1>
    </div>
    <!-- Button trigger modal -->
    <div class="btn_container">
      <button
      type="submit"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      Add Stock
    </button>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              <span style="color: blue">Add Stock</span>
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="stock_form" action="/add_stock" method="POST">
              <div class="form-group">
                <label for="formGroupExampleInput">Sales id</label>
                <input
                  type="text"
                  class="form-control"
                  id="formGroupExampleInput"
                  placeholder="Enter Sales id"
                  name="si"
                />
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Product id</label>
                <input
                  type="text"
                  class="form-control"
                  id="formGroupExampleInput2"
                  placeholder="Enter product id"
                  name="pi"
                />
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Quantity</label>
                <input
                  type="text"
                  class="form-control"
                  id="formGroupExampleInput2"
                  placeholder="Enter amount"
                  name="quant"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <div>
              <button type="submit" class="btn btn-primary">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- table -->
    <table id="myTable" class="display table table-striped">
      <thead>
        <tr>
          <th>Stock id</th>
          <th>Sales id</th>
          <th>Product id</th>
          <th>Quantity</th>
          <th>createdat</th>
        </tr>
      </thead>
      <tbody>
        {% for i in stocks %}
        <tr>
          <td>{{i[0]}}</td>
          <td>{{i[1]}}</td>
          <td>{{i[2]}}</td>
          <td>{{i[3]}}</td>
          <td>{{i[4]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <script>
      let table = new DataTable("#myTable");
    </script>
    <script>
      document
        .getElementById("stock_form")
        .addEventListener("submit", function () {
          // window.location.reload();
        });
    </script>
{% endblock %}
