{% extends "base.html" %} {% block title %}Home Page{% endblock %} {% block head
%} {{ super() }}
<style type="text/css">
  .btn_container {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  .hidden-column {
    display: none;
  }
</style>
{% endblock %} {% block content %} {% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes">
  {% for message in messages %}
  <li style="color: red; list-style-type: none">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith %}
<div style="margin-top: 20px; margin-bottom: 30px;">
  <h1 style="text-align: center">
    <span style="color: blue">Stocks</span> page
  </h1>
</div>
<!-- table -->
<table id="myTable" class="display table table-striped">
  <thead>
    <tr>
      <th class="hidden-column">Stock id</th>
      <th class="hidden-column">Sales id</th>
      <th>Product Name</th>
      <th>Quantity</th>
      <th>createdat</th>
      <th>Add the stock</th>
    </tr>
  </thead>
  <tbody>
    {% for stock in stocks %}
    <tr>
      <td class="hidden-column">{{stock[0]}}</td>
      <td class="hidden-column">{{stock[1]}}</td>
      <td>{{product_name.get(stock[2], 'unknown')}}</td>
      <td>{{stock[3]}}</td>
      <td>{{stock[4]}}</td>
      <td>
        <!-- Button trigger modal -->
        <div class="btn_container">
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#addStockModal"
          >
            Add Stock
          </button>
        </div>

        <!-- Modal -->
        <div
          class="modal fade"
          id="addStockModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  <span style="color: blue">Add Stock</span>
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="stock_form" action="/add_stock" method="POST">
                  <div class="form-group">
                    <!-- <label for="formGroupExampleInput">Sales id</label> -->
                    <input
                      type="hidden"
                      class="form-control"
                      id="salesid"
                      placeholder="Enter Sales id"
                      value="{{stocks[0][1] if stocks else ''}}"
                      name="si"
                    />
                  </div>
                  <div class="form-group">
                    <!-- <label for="formGroupExampleInput2">Product id</label> -->
                    <input
                      type="hidden"
                      class="form-control"
                      id="productid"
                      placeholder="Enter product id"
                      value="{{stocks[0][2] if stocks else ''}}"
                      name="pi"
                    />
                  </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput2">Product Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="productname"
                      placeholder="Enter amount"
                      value="{{ product_name.get(stock[2], 'unknown') }}"
                      name="pn"
                    />
                    <!-- readonly   this ensures that the users cant modify the product name directly -->
                  </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput2">Quantity</label>
                    <input
                      type="text"
                      class="form-control"
                      id="quantity"
                      placeholder="Enter amount"
                      value="{{stocks[0][3] if stocks else ''}}"
                      name="quant"
                    />
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script>
  let table = new DataTable("#myTable");
</script>
<script>
  document.getElementById("stock_form").addEventListener("submit", function () {
    // window.location.reload();
  });
</script>
{% endblock %}
